body {
    margin: 0 auto;
    box-sizing: border-box;
}
header {
    font-family: Arial, sans-serif;
    font-weight: 700; 
    background-image: url("../images/background1.jpg");
    background-size: cover;
    text-align: center;
    padding: 10px;
    margin: 1px;
}
 h1 {
     font-family: "Playwrite CU", cursive;
     flex-grow: 1; /* Allows the heading to take up available space */
     font-weight: 700;
 }
 
 .link {
     padding: 3px;
     text-align: right;
 }
 .navi a{
     color: aqua;
     font-size: 16px;
     padding: 10px;
     text-decoration: none;
 }
 .navi a:hover {
    color: #fc034e;
    
}
.navi a:active {
    font-size: 20px;
}
h2 {
    padding: 5px;
} 
 
 p {
    font-family: Roboto,sans-serif;
    font-weight: 500;
    padding: 5px;
    margin: 3px;
.responsive {
    width: 100%;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
img {
    float: right;
    padding: 2px;
}
.snorkel {
    clear: right;
    padding-left: 5px;
}
.surfing {
    clear: right;
    padding-left: 5px;
}
.fireflies {
    clear: right;
    padding-left: 5px;
}
.content {
    background-color: #ebccb5;
    padding-top: 10px;
    padding-bottom: 200px;
}


