body {
    margin: 0 auto;
    box-sizing: border-box;
}
header {
    font-family: Arial, sans-serif;
    font-weight: 700; 
    background-image: url("../images/background1.jpg");
    background-size: cover;
    text-align: center;
    padding: 5px;
}
 h1 {
     font-family: "Playwrite CU", cursive;
     flex-grow: 1; /* Allows the heading to take up available space */
     font-weight: 700;
 }
 
 
 
 .link {
     padding: 3px;
     text-align: right;
 }
 .navi a {
     color: aqua;
     font-size: 16px;
     padding: 10px;
     text-decoration: none;
}
.navi a:hover {
    color: #fc034e;
}
.navi a:active {
    font-size: 20px;
}  
h2 {
    padding: 10px;
    text-align: center;
} 
 p {
    font-family: Roboto,sans-serif;
    padding: 10px;
    font-weight: 500;
.responsive2 {
    max-width: 100%;
    height: auto;
    display: block;
 }
 .content {
    padding-top: 3px;
    padding-bottom: 120px;
    background-color: #42f59b;
      
 }
