body {
    margin: 0 auto;
    background: border-box;
}
header {
    font-family: Arial, sans-serif;
    font-weight: 700; 
    background-image: url("../images/background1.jpg");
    background-size: cover;
    text-align: center;
    padding: 10px;
 h1 {
     font-family: "Playwrite CU", cursive;
     font-size: 26px;
     font-weight: 600;
 }
 .link {
    padding: 3px;
    text-align: right;
}
.navi a{
    color: aqua;
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
}
.navi a:hover {
    color: #fc034e;
}
.navi a:active {
    font-size: 20px;
}

